<ion-view view-title="All ({{ messages.length }})">
    <ion-nav-bar class="bar bar-header bar-dark">
    </ion-nav-bar>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="message in messages"
                      menu-close=""
                      ng-class="{bold: !message.status}"
                      ng-click="viewTactic(message)">
                <i ng-show="message.type > 0" class="ion-ios-checkmark" style="color:green;"></i>
                <i ng-show="message.type == 0" class="ion-ios-close" style="color:red;"/></i>
                {{ message.message }}
                <i class="ion-ios-arrow-forward" style="float: right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<div class="tabs tabs-icon-top">
    <a nav-clear
       class="tab-item disable-user-behavior"
       title="Today (4)"
       nav-clear
       href="#/tab/page2">
        <i class="icon ion-clock"></i>
        Today
    </a>
    <a nav-clear
       class="tab-item disable-user-behavior active"
       title="All (2)"
       icon-on="ion-ios7-filing"
       icon-off="ion-ios7-filing-outline"
       href="#/tab/page3">
        <i class="icon ion-calendar"></i>
        All
    </a>
</div>
