<ion-view view-title="Sign-In" name="login-view">
    <ion-content class="padding" style="background:#1b1b1b; text-align:center;">
        <img src="img/one-video.png" width="200" height="92" style="margin:50px 0 70px;">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login(user)">Login</button>
    </ion-content>
</ion-view>
