<div class="list card">
    <div class="item item-divider" ng-bind="tactic.name"></div>
    <div class="item item-body">
        <form class="list ng-pristine ng-valid">
            <div>
                <p>
                    <strong>Organization:</strong> {{ tactic.orgname }}</p>
            </div>
            <div>
                <p>
                    <strong>Campaign:</strong> {{ tactic.campaignname }}</p>
            </div>
            <div>
                <p>
                    <strong>Status:</strong> {{ tactic.status }}</p>
            </div>
            <div ng-show="['LIVE', 'PAUSED'].indexOf(tactic.status) > -1">
                <p>
                    <ion-toggle toggle-class="toggle-balanced"
                                ng-model="tactic.statusSwitch"
                                ng-change="showConfirm(tactic)">&nbsp;
                    </ion-toggle>
                </p>
            </div>
            <div>
                <p>
                    <strong>Start Date:</strong> {{ tactic.startDate }}</p>
            </div>
            <div>
                <p>
                    <strong>End Date:</strong> {{ tactic.endDate }}</p>
            </div>
            <div>
                <p>
                    <strong>Pacing:</strong> {{tactic.shortribs}} of {{tactic.goal}}</p>
            </div>
            <div ng-show="tactic.goalType == 'IMPRESSIONS'">
                <p>
                    <strong>Impressions:</strong> {{ tactic.shortribs }}</p>
            </div>
            <div ng-show="tactic.goalType == 'SPEND'">
                <p>
                    <strong>Spend:</strong> {{ tactic.shortribs }}</p>
            </div>
        </form>
        <strong ng-show="tactic.daysLeft > 0">
            {{ tactic.daysLeft }} Days left.
        </strong>
    </div>
</div>