<ion-view title="Campaigns ({{ basicInfo.campaigns.length }})">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item menu-close=""
                      ng-repeat="campaign in basicInfo.campaigns"
                      ng-click="viewTacticsList(campaign['_id']['$oid'], campaign.name)">
                <i class="ion-ios-arrow-forward" style="float: right"></i>
                {{ campaign.name }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>