/* Empty. Add your own CSS if you like */
.bold {
    font-weight: bold;
    background-color: #D3D3D3;
}

.row-header-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width: 250px;
    margin-bottom: -5px;
}

.button.button-dark.button-clear{
    color: white;
}